@using PainTrackerPT.Models.Followups
@model PainTrackerPT.Models.Followups.Media

@{
    ViewData["Title"] = "Create";
    int id = ViewBag.id;

    Media media = new Media();
    media.AnswerId = id;

}
<h1>Create</h1>

<h4>Adding Recommendation to answer @media.AnswerId  </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnswerId" class="control-label"></label>
                <input asp-for="AnswerId" class="form-control" />
                <span asp-validation-for="AnswerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaUrl" class="control-label"></label>
                <input asp-for="MediaUrl" class="form-control" />
                <span asp-validation-for="MediaUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
