@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ICT2106!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="https://localhost:5001/FollowUps"><button class="btn btn-primary">Followups Button for test</button></a>
    <a href="https://localhost:5001/Questions"><button class="btn btn-primary">Questions Button for test</button></a>
    <a href="https://localhost:5001/Answers"><button class="btn btn-primary">Answers Button for test</button></a>
    <a href="https://localhost:5001/Recommendations"><button class="btn btn-primary">Recommendations Button for test</button></a>
    <a href="https://localhost:5001/Advices"><button class="btn btn-primary">Advices Button for test</button></a>
</div>
