@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Component Test</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://localhost:5001/FollowUps"><button class="btn btn-primary">Followups Button for test</button></a>
    <a href="https://localhost:5001/Questions"><button class="btn btn-primary">Questions Button for test</button></a>
    <a href="https://localhost:5001/Answers"><button class="btn btn-primary">Answers Button for test</button></a>
    <a href="https://localhost:5001/Recommendations"><button class="btn btn-primary">Recommendations Button for test</button></a>
    <a href="https://localhost:5001/Advices"><button class="btn btn-primary">Advices Button for test</button></a>
    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />
    <h1 class="display-4">Functional Requirements Test</h1>
    <a href="https://localhost:5001/FollowUps"><button class="btn btn-primary">View list of followups</button></a>
    <a href="https://localhost:5001/Advices"><button class="btn btn-primary">Doctor Generate new Follow Up</button></a>
    <a href="https://localhost:5001/Questions/Index/2"><button class="btn btn-primary">Generate Question based on Follow Up</button></a>
    <a href="https://localhost:5001/Advices"><button class="btn btn-primary">Answer Question</button></a>
    <a href="https://localhost:5001/Advices"><button class="btn btn-primary">Cancel Follow Up</button></a>
    <a href="https://localhost:5001/Advices"><button class="btn btn-primary">Generate Advice</button></a>
</div>
