@model PainTrackerPT.Models.Events.EventsLog

@{
    ViewData["Title"] = "Home Page";
}
<h5>Filters</h5>
<div class="row">
    <div class="col-9 row" style="margin-left: 10px;">
        <div class="col">
            <label class="switch col-4">
                <input type="checkbox" class="primary" id="eventType" value="typePD" checked>
                <span class="slider round"></span>
            </label>
            <label class="col-8">Pain Diary</label>
        </div>
        <div class="col">
            <label class="switch col-4">
                <input type="checkbox" class="primary" id="eventType" value="typeMI" checked>
                <span class="slider round"></span>
            </label>
            <label class="col-8">Medicine Intake</label>
        </div>
        <div class="col">
            <label class="switch col-4">
                <input type="checkbox" class="primary" id="eventType" value="typeFU" checked>
                <span class="slider round"></span>
            </label>
            <label class="col-8">Followup</label>
        </div>
    </div>
</div>

<h5>Export</h5>
<div class="ExportSection" style="margin-left: 20px">
    <button class="btn btn-sm" style="background:#2196F3; color: white"><i class="fas fa-share-square" style="color: white"></i>
        <a href="/Events/exportToCSVfile" id="exportCSV" style="color: white; text-decoration: none;">Export to Google/Outlook Format(*.csv)</a>
    </button>
</div>

<hr />

<div class="text-center">
    <div id="calendar"></div>
    <div id="editDescAndSave">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" id="idForEvent" />
            <div class="modal-content" style=" background-color: whitesmoke; box-shadow: 0 0 8px 7px #88888873; ">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <label id="eventTitle"></label>
                    </h5>
                </div>
                <div class="modal-body">
                    <h6 class="text-left">Edit Description: </h6>
                    <textarea class="form-control" asp-for="eventDesc" id='eventDesc' name='eventDesc' rows="3"></textarea>
                    <span validation-for="eventDesc" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save changes" class="btn btn-primary" />
                    <input type="button" value="Close" class="btn btn-secondary" onclick="closeEdit()" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function openExportOptions() {
        document.getElementById("exportOptions").style.display = "block";
    }

    function closeOptions() {
        document.getElementById("exportOptions").style.display = "none";
    }

    function editYou() {
        document.getElementById("editDescAndSave").style.display = "block";
        $('#idForEvent').val(id);
        $('#eventDesc').text(desc);
        $('#eventTitle').text(title);

    }

    function closeEdit() {
        document.getElementById("editDescAndSave").style.display = "none";
    }
</script>
