@model IEnumerable<PainTrackerPT.Models.Events.Events>

@{
    ViewData["Title"] = "Home Page";
}
<h5>Filters</h5>
<div class="row">
    <div class="col-8 row">
        <div class="col">
            <label class="switch">
                <input type="checkbox" class="primary" id="eventType" value="typePD">
                <span class="slider round"></span>
            </label>
            <label>Pain Diary</label>
        </div>
        <div class="col">
            <label class="switch">
                <input type="checkbox" class="primary" id="eventType" value="typeMI">
                <span class="slider round"></span>
            </label>
            <label>Medicine Intake</label>
        </div>
        <div class="col">
            <label class="switch">
                <input type="checkbox" class="primary" id="eventType" value="typeFU">
                <span class="slider round"></span>
            </label>
            <label>Followup</label>
        </div>

        @*<div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitches">
            <label class="custom-control-label" for="customSwitches">Toggle this switch element</label>
        </div>*@
    </div>
</div>



<hr />

<div class="text-center">
    <div id="calendar"></div>
</div>
