@model IEnumerable<PainTrackerPT.Models.Events.EventsLog>

@{
    ViewData["Title"] = "Home Page";
}
<h5>Filters</h5>
<div class="row">
    <div class="col row">
        <div class="col">
            <label class="switch col-4">
                <input type="checkbox" class="primary" id="eventType" value="typePD" checked>
                <span class="slider round"></span>
            </label>
            <label class="col-8">Pain Diary</label>
        </div>
        <div class="col">
            <label class="switch col-4">
                <input type="checkbox" class="primary" id="eventType" value="typeMI" checked>
                <span class="slider round"></span>
            </label>
            <label class="col-8">Medicine Intake</label>
        </div>
        <div class="col">
            <label class="switch col-4">
                <input type="checkbox" class="primary" id="eventType" value="typeFU" checked>
                <span class="slider round"></span>
            </label>
            <label class="col-8">Followup</label>
        </div>
    </div>
</div>

<div class="ExportSection">
    @Html.ActionLink("Export to CSV", "exportToCSVfile")
</div>


<hr />

<div class="text-center">
    <div id="calendar"></div>
</div>
