@model PainTrackerPT.Models.Medicine.MedicineEvent

@{
    ViewData["Title"] = "Create";
}

<h1>Create Schedule for @ViewBag.MedID</h1>

<h4>MedicineEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedId" value=@ViewBag.MedID />
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" required="required"/>
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intervals" class="control-label">Number of hours</label>
                <input asp-for="Intervals" class="form-control" required="required"/>
                <span asp-validation-for="Intervals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfRecurringTimes" class="control-label">Number of intakes per day</label>
                <input asp-for="NumOfRecurringTimes" class="form-control" required="required"/>
                <span asp-validation-for="NumOfRecurringTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" required="required"/>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Index", "Index", "MedicineIntakeEvent", new { id = @ViewBag.MedID })
</div>
<hr />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<hr />