@model IEnumerable<PainTrackerPT.Models.Medicine.MedicineEventLog>

@{
    ViewData["Title"] = "ViewEventLog";
}

<h1>ViewEventLog</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dosage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentTime)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dosage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentTime)
                    </td>

                </tr>
            }
        }
        </tbody>
</table>
