@model IEnumerable<PainTrackerPT.Models.Medicine.MedicineEventLog>

@{
    ViewData["Title"] = "ViewEventLog";
}


<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Event logs for @ViewBag.Name</h3>
            </div>
        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--mobile ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Event Logs
                                </h3>
                            </div>
                        </div>
                      
                    </div>
                    <div class="m-portlet__body">

                        <!--begin: Datatable -->
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="eventLog">
                            <thead>
                                <tr>
                                    <th>
                                        Number of dosage
                                    </th>
                                    <th>
                                        Time taken
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Dosage)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CurrentTime)
                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--End::Section-->

    </div>
</div>