@model PainTrackerPT.Models.PainDiary.Diary

@{
    ViewData["Title"] = "DiaryCreate";
}

<style>
    #PDwrapper {
        padding: 25px;
    }

     .switch {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ca2222;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2ab934;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(115px);
        -ms-transform: translateX(115px);
        transform: translateX(115px);
    }

    /*------ ADDED CSS ---------*/
    .on {
        display: none;
    }

    .on, .off {
        color: white;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        
        
    }

    input:checked + .slider .on {
        display: block;
    }

    input:checked + .slider .off {
        display: none;
    }

    /*--------- END --------*/

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>


<div id="PDwrapper">

    <h1>Create Diary</h1>

   
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="DiaryCreate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="diaryTitle" class="control-label">Diary Title</label>
                    <input asp-for="diaryTitle" class="form-control" />
                    <span asp-validation-for="diaryTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="creationDate" class="control-label">Date Created</label>
                    <input asp-for="creationDate" class="form-control" />
                    <span asp-validation-for="creationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="diaryPermission" class="control-label">Diary Permission</label>
                        <br />
                        <label class="switch"><input asp-for="diaryPermission" type="checkbox" id="togBtn"><div class="slider round"><!--ADDED HTML --><span class="on"><span class="fa fa-lock-open"></span>&nbsp;PUBLIC</span><span class="off"><span class="fa fa-lock"></span>&nbsp;PRIVATE</span><!--END--></div></label>
                        
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index","Home")">Back to Home</a>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
